{% extends "templates/base.html.twig" %}

{% block title %}
    {{ category[1] }} Products
{% endblock %}

{% block css %}
<style rel="stylesheet">
    /* TEMPLATE STYLES */

    main {
        margin-top: 7rem;
    }

    main .card {
        margin-bottom: 1rem;
    }

    @media only screen and (max-width: 768px) {
        .read-more {
            text-align: center;
        }
    }

    .navbar {
        background-color: #0f6256;
    }

    footer.page-footer {
        background-color: #0f6256;
        margin-top: 2rem;
    }
     .navbar .btn-group .dropdown-menu a:hover {
        color: #000 !important;
    }

    .navbar .btn-group .dropdown-menu a:active {
        color: #fff !important;
    }

</style>
{% endblock %}

{% block main %}
 <main>
        <!--Main layout-->
        <div class="container">

        <!--Page heading-->
        <div class="row">
            <div class="col-md-12">
                <h1 class="h1-responsive">{{ category[1] }}
                    <small class="text-muted">products for {{ category[1]|lower }}</small>
                </h1>
            </div>
        </div>
        <!--/.Page heading-->
        <hr>

        {% for product_group in products %}
        <!--First row-->
        <div class="row mt-5 wow">

            {% for product in product_group %}
            <!--First column-->
            <div class="col-lg-4 wow fadeIn" data-wow-delay="0.2s">

                <!--Card-->
                <div class="card">

                    <!--Card image-->
                    <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Horizontal/Food/4-col/img%20(43).jpg" alt="Card image cap">

                    <!--Card content-->
                    <div class="card-body">
                        <!--Title-->
                        <h4 class="card-title">{{ product.name }}</h4>
                        <!--Text-->
                        <p class="card-text">{{ product.short_description }}</p>
                        <a href="/shop/product.php?category={{ category[0] }}&product_model={{ product.model }}" class="btn btn-primary">View</a>
                        <h3 class="green-text price float-right">${{ product.price }}</h3>
                    </div>

                </div>
                <!--/.Card-->

            </div>
            <!--/.First column-->
            {% endfor %}

        </div>
        {% endfor %}

        <hr>

        <!--Pagination-->
        <nav class="row flex-center wow fadeIn" data-wow-delay="0.2s">
            <ul class="pagination">
                
                <li class="page-item {% if page_num == 1 %}disabled{% endif %}">
                    <a class="page-link" href="#!" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                    </a>
                </li>
                <li class="page-item active">
                    <a class="page-link" href="#!">1 <span class="sr-only">(current)</span></a>
                </li>
                <li class="page-item"><a class="page-link" href="#!">2</a></li>
                <li class="page-item"><a class="page-link" href="#!">3</a></li>
                <li class="page-item"><a class="page-link" href="#!">4</a></li>
                <li class="page-item"><a class="page-link" href="#!">5</a></li>
                <li class="page-item">
                    <a class="page-link" href="#!" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                    </a>
                </li>
            </ul>
        </nav>
        <!--/.Pagination-->

        </div>
        <!--/.Main layout-->
    </main>
{% endblock %}

{% block js %}
    <script src="/static/js/product_shop.js"></script>
{% endblock %}

